th[sortable].asc:before {
    content: "";
    display: block;
    background: url('../../assets/images/sort-amount-up-reversed.png') no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
}
th[sortable].desc:before {
    content: "";
    display: block;
    background: url('../../assets/images/sort-amount-up.png') no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
}
.form-select {
    height: 38px;
}